<h1>List of heroes</h1>

<div *ngIf="deletedHeroe.length!=0; else nothingDeleted">
    <span>{{ deletedHeroe }} has been delated</span>
</div>
<ng-template #nothingDeleted>
    <div>
        <span>Nothing has been delated</span>
    </div>
</ng-template>
<ul>
    <li *ngFor="let heroe of heroes; let i = index">
        <span>{{ i+1 }} - {{ heroe }}</span>
        <button (click)="deleteHeroe(i+1)"> Delete </button>
    </li> 
</ul>

<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile
        *ngFor="let heroe of heroes"
        [colspan]="1"
        [rowspan]="1">
        
    </mat-grid-tile>
</mat-grid-list> -->